* {
    box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 16px;
  color: #4a4a4a;
  font-family: "Lato", sans-serif;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0rem 1.5rem;
  min-height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
  letter-spacing: 0.05rem;
  font-size: 2rem;
}
.thesis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  letter-spacing: 0.05rem;
  font-size: 3rem;
  padding: 2rem 0 0 0;
}
.logo img {
  height: 4rem;
}

#academy {
  color: #9b9b9b;
  font-weight: lighter;
}
#colmar {
  color: #4a4a4a;
  font-weight: bold;
}

nav li {
  display: inline;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: #9b9b9b;
}
.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}

.mobile-header img {
  height: 4rem;
}
.start-info {
  display: block;
  align-self: center;
  color: #4a4a4a;
  align-items: center;
  padding-left: 1rem;
}
.start-info h1 {
  font-size: 3rem;
  font-weight: 700;
}
.video-info h1 {
  font-size: 3rem;
  font-weight: 700;
}
.video-info p {
  font-size: 1.5rem;
}
.start-info h2 {
  font-size: 2rem;
  font-weight: 700;
}
.start-info p {
  font-size: 1.5rem;
}
.small-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 10rem 1rem 1rem;
}
.button {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 2rem;
  width: 100%;
  padding: 0.5rem;
  color: #ffffff;
  background-color: #4a4a4a;
}
.button h2 {
  color: #ffffff;
}
main {

}

.background-grey {
  background-color: #d8d8d8;
}
.background-white {
  background-color: #ffffff;
}

.section1a {
  display: flex;
  flex-direction: column; /* default */
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;

}
.section1a img {
  width: 100%;
  height: auto;
}

.section1b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 2rem 1.5rem 1rem 0;
}

h1 {
  margin: 0;
  letter-spacing: 0.05rem;
  font-weight: 600;
}
.section1b div {
  color: #4a4a4a;
}
.section2a {
  display: flex;
  flex-direction: column; /* default */
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
  padding-bottom: 2rem;
}
.section2a-video{
  display: flex;
  flex-direction: column; /* default */
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
  padding-bottom: 2rem;
}

.section2a h1, h3, p {
  color: #4a4a4a;
}
.section2a img {
  width: 100%;
  height: auto;
}
.section2b {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 1.5rem 0 0;
}
.grey-border {
  border-left: 1px solid #d8d8d8;
}

.informations {
  display: flex;
  width: 100%;
}
.grey-double-bottom-border {
  border-bottom: 1px double #d8d8d8;
}
.info1 {
  width: 35%;
  margin: 2rem 0 1rem 1rem;
}
.info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  color: #4a4a4a;
  margin: 1rem 0 1rem 1rem;
}
.info2 h2 {
  font-size: 1.5rem;
  margin: 0;
}
.info2 p, a {
  font-size: 1.5rem;
  text-decoration: none;
}

.info1 img {
  width: 100%;
  height: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  min-height: 10rem;
}
/*----------------------------------------------------------*/
/* START LEARNING SECTION ----------------------------------*/
/*----------------------------------------------------------*/
.container {
  display: flex;
}


section-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0rem 1.5rem;
  min-height: 4rem;
  background-color: #eaebec;
}

.start-learning-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  letter-spacing: 0.05rem;
  font-size: 3rem;
  padding: 2rem 0;
}
.flexcontainer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: flex-end;
   background-color: #eaebec;
   padding-left: 3.5rem;
   padding-right: 3.5rem;

}
.courses {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 4.5rem 0 4.5rem;
}
.course {
  display: inline;
  background-color: #ffffff;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}
.course img {
  width: 100%;
  height: auto;
}

.course-description {
  padding: 1rem 0 1.5rem 1rem;
  height: 15rem;
}

.course-description h2 {
  font-size: 2rem;
}
.course-description p {
  font-size: 1.25rem;
  line-height: .5
}

.section-header span {
  padding-right: 1.5rem;
}
/* media query section */


@media only screen and (min-width: 600px) and (max-width: 992px) {
  .logo {
    display: none;
  }
  nav {
    display: none;
  }
  .mobile {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .mobile-background {
    background-color: #ffffff;
  }
  .section1a {
    width: 100%;
    margin: 0 0;

  }
  .start-learning-section h1 {
    font-size: 3rem;
  }
  .section2a-video {
    width: 100%;
    margin-bottom: 1.5rem;

  }
  .section1b {
    width: 100%;
  }

  .small-container {
    padding-left: 2rem;
  }
  .section2a {
    display: none;
  }
  .section2b {
    width: 100%;
    margin: 0;
  }
  .flexcontainer {
     margin-left: 0;
     margin-right: 0;

  }

  .section2b-video {
    display: none;
  }
  .video-info {
    display: none;
  }

  .informations {
    flex-direction: column;
  }
  .info1 {
    width: 100%;
    margin: 0;
  }
  .info1 img {
    padding: 1rem;
  }
  .info2 {
    width: 100%;
    margin: 0 0 1rem 1rem;
  }
  .course {
    width: 100%;
    background-color: #d8d8d8;
    margin: 1rem 1rem .5rem 1rem;
  }
  .course img {
    display: none;
 }
 .course-description {
   padding: 0 1rem .5rem 1rem;
   height: auto;
 }
 .course-description h1 {
   font-size: 1.75rem;
   padding: 1rem 1rem .5rem 1rem;
 }
 .course-description p {
   display: none;
 }
 .video {
   padding-bottom: 1.5rem;
 }
 footer span {
   display: none;
 }
}

@media only screen and (min-width: 993px){
  .mobile-header {
    display: none;
  }
}
